#include <physical_layouts.dtsi>

/ {
    layout_0: layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";
        transform = <&default_transform>;
        
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   37       0     0     0>
            , <&key_physical_attrs 100 100  100   37       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   24       0     0     0>
            , <&key_physical_attrs 100 100 1200   24       0     0     0>
            , <&key_physical_attrs 100 100 1300   12       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500   12       0     0     0>
            , <&key_physical_attrs 100 100 1600   37       0     0     0>
            , <&key_physical_attrs 100 100 1700   37       0     0     0>
            , <&key_physical_attrs 100 100    0  137       0     0     0>
            , <&key_physical_attrs 100 100  100  137       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  124       0     0     0>
            , <&key_physical_attrs 100 100 1200  124       0     0     0>
            , <&key_physical_attrs 100 100 1300  112       0     0     0>
            , <&key_physical_attrs 100 100 1400  100       0     0     0>
            , <&key_physical_attrs 100 100 1500  112       0     0     0>
            , <&key_physical_attrs 100 100 1600  137       0     0     0>
            , <&key_physical_attrs 100 100 1700  137       0     0     0>
            , <&key_physical_attrs 100 100    0  237       0     0     0>
            , <&key_physical_attrs 100 100  100  237       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  224       0     0     0>
            , <&key_physical_attrs 100 100 1200  224       0     0     0>
            , <&key_physical_attrs 100 100 1300  212       0     0     0>
            , <&key_physical_attrs 100 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100 1500  212       0     0     0>
            , <&key_physical_attrs 100 100 1600  237       0     0     0>
            , <&key_physical_attrs 100 100 1700  237       0     0     0>
            , <&key_physical_attrs 100 100    0  337       0     0     0>
            , <&key_physical_attrs 100 100  100  337       0     0     0>
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  312       0     0     0>
            , <&key_physical_attrs 100 100  500  324       0     0     0>
            , <&key_physical_attrs 100 100 1200  324       0     0     0>
            , <&key_physical_attrs 100 100 1300  312       0     0     0>
            , <&key_physical_attrs 100 100 1400  300       0     0     0>
            , <&key_physical_attrs 100 100 1500  312       0     0     0>
            , <&key_physical_attrs 100 100 1600  337       0     0     0>
            , <&key_physical_attrs 100 100 1700  337       0     0     0>
            , <&key_physical_attrs 100 100  100  437       0     0     0>
            , <&key_physical_attrs 100 100  200  412       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  400  412       0     0     0>
            , <&key_physical_attrs 100 100  575  537       0     0     0>
            , <&key_physical_attrs 100 100 1025  537       0     0     0>
            , <&key_physical_attrs 100 100 1300  412       0     0     0>
            , <&key_physical_attrs 100 100 1400  400       0     0     0>
            , <&key_physical_attrs 100 100 1500  412       0     0     0>
            , <&key_physical_attrs 100 100 1600  437       0     0     0>
            , <&key_physical_attrs 100 100  675  537       0     0     0>
            , <&key_physical_attrs 100 100  475  637       0     0     0>
            , <&key_physical_attrs 100 200  575  637       0     0     0>
            , <&key_physical_attrs 100 100  675  637       0     0     0>
            , <&key_physical_attrs 100 100  475  737       0     0     0>
            , <&key_physical_attrs 100 100  675  737       0     0     0>
            , <&key_physical_attrs 100 100 1125  537       0     0     0>
            , <&key_physical_attrs 100 100 1025  637       0     0     0>
            , <&key_physical_attrs 100 200 1125  637       0     0     0>
            , <&key_physical_attrs 100 100 1225  637       0     0     0>
            , <&key_physical_attrs 100 100 1025  737       0     0     0>
            , <&key_physical_attrs 100 100 1225  737       0     0     0>
            , <&key_physical_attrs  50  50  385  587       0     0     0>
            , <&key_physical_attrs  50  50  365  637       0     0     0>
            , <&key_physical_attrs  50  50  385  687       0     0     0>
            , <&key_physical_attrs  50  50  575  847       0     0     0>
            , <&key_physical_attrs  50  50  625  867       0     0     0>
            , <&key_physical_attrs  50  50  675  847       0     0     0>
            , <&key_physical_attrs  50  50 1355  587       0     0     0>
            , <&key_physical_attrs  50  50 1375  637       0     0     0>
            , <&key_physical_attrs  50  50 1355  687       0     0     0>
            , <&key_physical_attrs  50  50 1025  847       0     0     0>
            , <&key_physical_attrs  50  50 1075  867       0     0     0>
            , <&key_physical_attrs  50  50 1125  847       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        layout_0 {
            physical-layout = <&layout_0>;
            positions = <>;
        };
    };
};